# dependencies (bun install)
node_modules

# output
out
*.tgz

.turbo
# code coverage
coverage
*.lcov

/coverage

/.next/
/out/

# production
/build

# misc
/dist
.DS_Store
*.pem

build.sh

#debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# typescript
*.tsbuildinfo
next-env.d.ts
.next

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env*
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# public and private keys
*.key


# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
